
$accentColor = #000;
$textColor ?= #2c3e50
$borderColor ?= #eaecef

// 代码块背景颜色
$codeBgColor = #282c34

// 页面切换进度条颜色
$nprogressColor = red

$badgeTipColor = #42b983

// 新增

$darkTextColor = #000
$darkBorderColor = $darkTextColor
$bgColor ?= #e6d19d82

$headerBgColor = #fff;
$headerHeight = 60px

$footerBgColor = lighten($darkTextColor, 10%)
$footerColor = #828282

$newsletterBgColor = #f8f8f8

$postTagBgColor = #ededed;
$postTagColor = darken($postTagBgColor,50%)